.App {
  display: flex;
  flex-direction: row;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
}

h2 {
  margin: 4px 0;
}


/* ================= MOBILE APP LAYOUT ================= */
@media (max-width: 767px) {

  .App {
    flex-direction: column;
  }

  .inner {
    margin-left: 0;
    padding: 12px;
    width: 100%;
  }

}